.header {
  margin-bottom: 30px;
}

.list {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  font-size: 24px;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}
